<% if @featured %>
	<table>
		<tr><td colspan="2"><hr/></td></tr>
		<tr><td width="250"><%= link_to image_tag(@featured.logo, :width => "200", :height => "100", :align=>"left"), @featured %></td>
			<td><img src="/assets/featured_tag_left.png" align="right"><b><%=link_to @featured.name, @featured %></b><br/><%= raw(@featured.description) %>
			<br/>
			<% if !@featured.price.blank? %>
				<div class="product"><input type="hidden" class="product-title" value="<%=@featured.name%> (3 months subscription)">$<%=@featured.price%> (3 months subscription)<input type="hidden" class="product-price" value="<%=@featured.price%>"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>	
			<% end %>
		<% if @admin %>
			<div>
			    <%= link_to 'Show', @featured %> | 
			    <%= link_to 'Edit', edit_product_path(@featured) %> | 
			    <%= link_to 'Destroy', @featured, confirm: 'Are you sure?', method: :delete %>
			</div>
		<% end %>
		</td></tr>
		<tr><td colspan="2"><hr/></td></tr>
	</table>
<% end %>

<%= render :partial => "product", :collection => @products %>


<br />
<p><center><%= will_paginate @products %></center></p>
<br/>

<% if @admin %>
	<%= link_to 'New Product', new_product_path %>
<% end %>