<p id="notice"><%= notice %></p>

<h1><%= @product.name %></h1>

<% if !@product.video.blank? %>
<center><iframe width="640" height="360"  src="<%= @product.video.gsub("http://youtu.be/", "http://www.youtube.com/embed/") %>" frameborder="0" allowfullscreen></iframe></center>
<% end %>

<table>
<tr><td width="250"><%= image_tag @product.logo, :width => "200", :height => "100", :align=>"left"%></td><td><br/><%= raw(@product.description) %><br/><%=link_to "Visit #{@product.name}'s Site", @product.website %>
<br/>
	
<a href="http://twitter.com/share?text=<%= @product.name %>&amp;url=http://tropoappstore.herokuapp.com/apps/<%=@product.id%>" class="twitter-share-button">Tweet</a>

<!-- Place this tag where you want the +1 button to render -->
<g:plusone href="http://tropoappstore.herokuapp.com/apps/<%=@product.id%>"></g:plusone>

<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=151901608223813&amp;xfbml=1"></script><fb:like href="http://tropoappstore.herokuapp.com/apps/<%=@product.id%>" send="true" width="450" show_faces="true" font=""></fb:like>

<br/>
		
	</td>
</tr>
</table>


<% if @admin %>
	<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
