<p id="notice"><%= notice %></p>
<br/>

<% if !@product.video.blank? %>
	<table><tr><td width="250" valign="top"><%= image_tag @product.logo, :width => "200", :height => "100"%><br/><br/><%= raw(@product.description) %></td><td>
	<center><iframe width="560" height="315"  src="<%= @product.video.gsub("http://youtu.be/", "http://www.youtube.com/embed/") %>" frameborder="0" allowfullscreen></iframe></center></td></tr></table>
<% else %>
	<table><tr><td width="250"><%= image_tag @product.logo, :width => "200", :height => "100", :align=>"left"%></td><td><br/><%= raw(@product.description) %></td></tr></table>
<% end %>

<% if !@product.price.blank? %>
	<div class="product">$<%=@product.price%> (3 months subscription)<input type="hidden" class="product-title" value="<%=@product.name%> (3 months subscription)"><input type="hidden" class="product-price" value="<%=@product.price%>"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>	
<% end %>
<p align="right"><%=link_to "Visit #{@product.name}'s Site", @product.website %></p>

<% if @admin %>
	<div>
	    <%= link_to 'Show', @product %> | 
	    <%= link_to 'Edit', edit_product_path(@product) %> | 
	    <%= link_to 'Destroy', @product, confirm: 'Are you sure?', method: :delete %>
	</div>
<% end %>

<a href="http://twitter.com/share?text=<%= @product.name %>&amp;url=http://tropoappstore.herokuapp.com/apps/<%=@product.id%>" class="twitter-share-button">Tweet</a>

<!-- Place this tag where you want the +1 button to render -->
<g:plusone href="http://tropoappstore.herokuapp.com/apps/<%=@product.id%>"></g:plusone>

<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=151901608223813&amp;xfbml=1"></script><fb:like href="http://tropoappstore.herokuapp.com/apps/<%=@product.id%>" send="true" width="450" show_faces="true" font=""></fb:like>

<br/>
		
	


<% if @admin %>
	<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
